<div id="main_sidebar">
    <div class="panel-sidebar">
        <div class="panel-sidebar-logo">
            <img src="/assets/img/logo_diabetes_white.png" width="120px" alt="">
        </div>
        <ul class="panel-sidebar-menu">
            <li>
                <a href="/patient_home">
                    <span class="menu-icon"><i class="material-icons">favorite</i></span>
                    <span class="menu-title">Homepage</span>
                </a>
            </li>
            <li>
                <a href="/patient_records">
                    <span class="menu-icon"><i class="material-icons">history</i></span>
                    <span class="menu-title">My Records</span>
                </a>
            </li>
            <li>
                <a href="/patient_leaderboard">
                    <span class="menu-icon"><i class="material-icons">leaderboard</i></span>
                    <span class="menu-title">Leaderboard</span>
                </a>
            </li>
            <br/>
            <div class="wt-text-align-center">
                <form class="logout" action="/auth/logout" method="post">
                    <button class="wt-btn wt-btn-secondary wt-btn-with-icon" type="submit">
                        <i class="material-icons">logout</i> Logout</button>
                </form>
            </div>
        </ul>
    </div>
</div>