{{> clinician_sidebar}}
{{> header}}

<div class="panel-content">

    {{!-- Back to dashboard and Heading --}}
    {{> clinician_patient_header this}}

    {{!-- Individual Patient's Content --}}
    <div class="patient_content">

        {{!-- Mini Sidebar --}}
        {{> clinician_patient_menu}}

        {{!-- Clinical Notes --}}
        <div class="wt-grid-container" style="padding: 35px">
            
            {{!-- Subheading: Clinical Notes --}}
            <div class="wt-grid-item size-6@p size-8@t">
                <h2>Clinical Notes</h2>
            </div>

            {{!-- Add Note Button --}}
            <div class="wt-grid-item size-6@p size-4@t wt-text-align-right">
                <button class="wt-btn wt-btn-secondary wt-btn-with-icon" onclick="openModal('addNoteModal')">
                    <i class="material-icons">add</i> ADD NOTE</button>
            </div>

            {{!-- Fetch database data --}}
            <div class="wt-grid-item size-12@p size-12@t">
                <table class="wt-datatable">
                    <th>Date</th>
                    <th>Clinical Note</th>
                    <tbody>
                        {{#each clinicalNote}}
                        <tr>
                            <td>
                                {{#dateHourFormat date}} {{/dateHourFormat}}
                            </td>
                            <td>{{message}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {{!-- Add Note Modal --}}
    <div id="addNoteModal" class="wt-modal">
        <div class="wt-modal-content">
            <form action="/clinician_dashboard/insertClinicalNote/{{patient._id}}" method="POST"></form>
                <div class="wt-grid-container">

                    {{!-- Heading --}}
                    <div class="wt-grid-item size-6@p size-8@t">
                        <h2>Add Clinical Note</h2>
                    </div>
                    <div class="wt-grid-item size-6@p size-4@t wt-text-align-right">
                        <span class="wt-modal-close">&times;</span>
                    </div>

                    {{!-- Text Area for Note --}}
                    <div class="wt-grid-item size-12@t">
                        <textarea placeholder="Enter messsage..." rows="5"></textarea>
                    </div>
                    
                    {{!-- Save Button --}}
                    <div class="wt-grid-item size-12@t wt-text-align-right">
                        <button type="submit" class="wt-btn wt-btn-secondary">SAVE</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>