{{> clinician_sidebar}}
{{> header}}

<div class="panel-content">

    {{!-- Back to dashboard and Heading --}}
    <div class="wt-grid-container">

        {{!-- Back to dashboard Button --}}
        <div class="wt-grid-item size-12@p size-12@t">
            <a class="wt-color-primary wt-btn-with-icon" onclick="history.back()">
                <i class="material-icons">arrow_back</i>Back to dashboard</a>
        </div>

        {{!-- Patient's Profile Picture and Name --}}
        <div class="wt-grid-item size-12@p size-12@t">
            <div class="list-item">
                <div class="list-item-avatar">
                    <img class="wt-border-rounded" src="./assets/img/patient_img.png" width="60px" alt="">
                </div>
                <div class="list-item-text">
                    <h1>Jane Cooper</h1>
                </div>
            </div>
        </div>

    </div>

    {{!-- Individual Patient's Content --}}
    <div class="patient_content">

        {{!-- Mini Sidebar --}}
        {{> clinician_patient_menu}}

        {{!-- Profile --}}
        <div class="wt-grid-container" style="padding: 35px">

            {{!-- Subheading: Profile --}}
            <div class="wt-grid-item size-12@p size-12@t">
                <h2>Profile</h2>
            </div>

            {{!-- Profile Card --}}
            <div class="wt-grid-item size-12@p size-12@t">
                <div class="wt-card">
                    <div class="wt-card-content">

                        <div class="wt-grid-container">
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Given Name(s)</label>
                                <input readonly name="givenNames" type="text" value="Jane" />
                            </div>
                            <div class="wt-grid-item size-1@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Family Name</label>
                                <input readonly name="familyName" type="text" value="Cooper" />
                            </div>
                        </div>

                        <div class="wt-grid-container">
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Screen Name</label>
                                <input readonly name="screenName" type="text" value="Moondancer" />
                            </div>
                            <div class="wt-grid-item size-1@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Email</label>
                                <input readonly name="email" type="text" value="janecooper135@gmail.com" />
                            </div>
                        </div>

                        <div class="wt-grid-container">
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Year of Birth</label>
                                <input readonly name="yearOfBirth" type="text" value="2000" />
                            </div>
                        </div>

                        <div class="wt-grid-container">
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-11@p size-11@t">
                                <label>Bio</label>
                                <textarea readonly rows="5">Bio here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
                            </div>
                        </div>

                        <div class="wt-grid-item size-12@p"></div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>