{{> sidebar}}
{{> header}}
<div class="panel-content">
    <div class="wt-grid-container">
        <div class="wt-grid-item size-12@p size-9@t">
            <h1>Title</h1>
            <p>subtitle</p>
        </div>
        <div class="wt-grid-item size-12@p size-3@t ">
            <!-- <div class="wt-text-align-right">
                    <button class="wt-btn wt-btn-secondary wt-btn-with-icon" onclick="openModal('forgotModal')"><i
                            class="material-icons">add</i>Add patient</button>
                </div> -->
            <div class="wt-text-align-right">
                <button class="wt-btn wt-btn-secondary wt-btn-with-icon" onclick="openModal('addPatientModal')">
                    <i class="material-icons">add</i> ADD PATIENT</button>
            </div>
        </div>
        <div class="wt-grid-item size-12@p size-12@t">

            <div class="wt-card-content">
                <div class="wt-grid-container">
                    <div class="wt-grid-item size-2@t">

                    </div>
                    <div class="wt-grid-item size-2@t">
                        <strong>Full Name</strong>
                    </div>
                    <div class="wt-grid-item size-2@t">
                        <strong>title</strong>
                    </div>
                    <div class="wt-grid-item size-2@t">
                        <strong>title</strong>
                    </div>
                    <div class="wt-grid-item size-2@t">
                        <strong>title</strong>
                    </div>
                </div>
            </div>
            {{#each patients}}
            <div class="wt-card">
                <div class="wt-card-content">
                    <div class="wt-grid-container">
                        <div class="wt-grid-item size-2@t">
                            <img class="wt-border-rounded" src="/assets/img/patient_img.png" width="40px" alt="">
                        </div>
                        <div class="wt-grid-item size-2@t">
                            {{firstName}}  {{lastName}}
                        </div>
                        <div class="wt-grid-item size-2@t">
                            data
                        </div>
                        <div class="wt-grid-item size-2@t">
                            data
                        </div>
                        <div class="wt-grid-item size-2@t">
                            data
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="wt-grid-item size-12@p size-10@t">
            <h3>Title 3</h3>
        </div>
        <div class="wt-grid-item size-12@p size-12@t">
            <div class="wt-card">
                <div class="wt-card-content">
                    <div class="wt-grid-container">
                        <div class="wt-grid-item size-12@p size-6@t">
                            <label>First Name</label>
                            <input type="text" />
                        </div>
                        <div class="wt-grid-item size-12@p size-6@t">
                            <label>Last Name</label>
                            <input type="text" />
                        </div>
                        <div class="wt-grid-item size-12@p">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addPatientModal" class="wt-modal">
        <div class="wt-modal-content">
            <span class="wt-modal-close">&times;</span>
            <div class="wt-grid-container">
                <div class="wt-grid-item size-12@p size-12@t">
                    <h2>Add Patient</h2>
                    <p>Please enter the following details</p>
                </div>
                <div class="wt-grid-item size-12@p size-6@t">
                    <label>First Name</label>
                    <input type="text" />
                </div>
                <div class="wt-grid-item size-12@p size-6@t">
                    <label>Last Name</label>
                    <input type="text" />
                </div>
                <div class="wt-grid-item size-12@p size-12@t">
                    <label>Bio</label>
                    <textarea rows="5"></textarea>
                </div>
                <div class="wt-grid-item size-12@p">
                    <div class="wt-text-align-right">
                        <button class="wt-btn wt-btn-secondary">ADD PATIENT</button>
                    </div>
                </div>
                <div class="wt-grid-item size-12@p">
                </div>
            </div>
        </div>
    </div>