<header class="">
    <div class="wt-header@t wt-hidden@p wt-visible-flex@t ">
        <div class="wt-header-icon">
            <a href="./index.html"></a><img src="./assets/img/logo_diabetes_black.png" alt="" width="120px">
        </div>
        <div class="wt-header-menu@t">
            <span class="active-menu"><a href="./">HOME</a></span>
            <span><a href="./about">ABOUT DIABETES</a></span>
            <span><a href="./login" class="wt-btn-outlined">LOGIN</a></span>
        </div>
    </div>
    <div class="wt-header@p wt-text-align-center wt-hidden@t wt-visible-@p">
        <div class="wt-header-icon">
            <a href="./"></a><img src="./assets/img/logo_diabetes_black.png" alt="" width="120px">
        </div>
        <div class="wt-header-menu@p">
            <span class="active-menu"><a href="./">HOME</a></span>
            <span><a href="./about">ABOUT DIABETES</a></span>
            <span><a href="./login" class="wt-btn-outlined">LOGIN</a></span>
        </div>
    </div>
</header>
<div class="wt-banner">
    <img src="./assets/img/banner_updated.png" alt="" width="100%">
    <div class="wt-hidden@p wt-visible@t wt-banner-content banner-home-1@t">
        <p class=" wt-text-jumbo wt-color-white">Look what this app
            can do for you </p>
    </div>
    <div class="wt-hidden@t wt-banner-content banner-home-1@p">
        <p class=" wt-color-grey">Look what this app
            can do for you </p>
    </div>
</div>
<section class="wt-section wt-container">
    <div class="wt-grid-container">
        <div class="wt-grid-item size-12@p">
            <div class="wt-text-align-center">
                <h1>How it works</h1>
                <hr class="wt-text-divider" width="150px" />
            </div>
        </div>
        <div class="wt-grid-item size-4@t size-12@p">
            <div class="wt-text-align-center">
                <img class="wt-border-circle wt-shadow" src="./assets/img/home-step1.png" alt="" width="200px">
                <h3>Login in the app</h3>
                <p>Easy access from phones, tables or laptops</p>
            </div>
        </div>
        <div class="wt-grid-item size-4@t size-12@p">
            <div class="wt-text-align-center">
                <img class="wt-border-circle wt-shadow" src="./assets/img/home-step2.png" alt="" width="200px">
                <div>
                    <h3>Add you health data</h3>
                    <p>Track your glucose leve, weight, insuline dosis and exercise</p>
                </div>
            </div>
        </div>
        <div class="wt-grid-item size-4@t size-12@p">
            <div class="wt-text-align-center">
                <img class="wt-border-circle wt-shadow" src="./assets/img/home-step3.png" alt="" width="200px">
                <h3>Get feedback</h3>
                <p>Receive directions and motivation
                    from you clinician</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wt-banner">
        <img src="./assets/img/banner2.jpeg" alt="" width="100%">
        <div class="wt-hidden@p wt-visible@t wt-banner-content banner-home-1@t ">
            <h2 class="wt-color-white">Track your daily health information
                in a better way</h2>
        </div>
        <div class="wt-hidden@t wt-banner-content banner-home-1@p">
            <p class="wt-color-white">Track your daily health information
                in a better way</p>
        </div>
    </div>
</section>
<section class="wt-section wt-container wt-background-alt">
    <div class="wt-grid-container">
        <div class="wt-grid-item size-12@p">
            <div class="wt-text-align-center">
                <h1>Our team</h1>
                <hr class="wt-text-divider" width="150px" />
            </div>
        </div>
        <div class="wt-grid-item size-6@p size-3@t">
            <div class="wt-card wt-card-narrower">
                <div class="wt-card-narrower-overlay">
                    <img src="./assets/img/profile_1.png" alt="" width="100%">
                </div>
                <div class="wt-card-content wt-text-align-center">
                    <h4>Saumya Makkar</h4>
                    <p>Frontend Developer</p>
                </div>
            </div>
        </div>
        <div class="wt-grid-item size-6@p size-3@t">
            <div class="wt-card wt-card-narrower">
                <div class="wt-card-narrower-overlay">
                    <img src="./assets/img/profile_2.png" alt="" width="100%">
                </div>
                <div class="wt-card-content wt-text-align-center">
                    <h4>Kady Teo Han Ning</h4>
                    <p>Designer</p>
                </div>
            </div>
        </div>
        <div class="wt-grid-item size-6@p size-3@t">
            <div class="wt-card wt-card-narrower">
                <div class="wt-card-narrower-overlay">
                    <img src="./assets/img/profile_3.png" alt="" width="100%">
                </div>
                <div class="wt-card-content wt-text-align-center">
                    <h4>Tristan Teo Han You</h4>
                    <p>Backend Developer</p>
                </div>
            </div>
        </div>
        <div class="wt-grid-item size-6@p size-3@t">
            <div class="wt-card wt-card-narrower">
                <div class="wt-card-narrower-overlay">
                    <img src="./assets/img/profile_4.png" alt="" width="100%">
                </div>
                <div class="wt-card-content wt-text-align-center">
                    <h4>Jean Paul Vera Soto</h4>
                    <p>Software Enginner</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wt-footer wt-container">
    <div class="wt-grid-container">
        <div class="wt-grid-item size-12@p size-6@t">
            <h3 class="wt-color-white">ABOUT US</h3>
            <p class="wt-color-white">Diabetes@Home is a project
                for the subject of Web Information Technologies
                at the Unimersity of Melbourne</p>
            <img src="./assets/img/logo_diabetes_white.png" alt="" width="180px">
        </div>
        <div class="wt-grid-item size-12@p size-6@t">
            <h3 class="wt-color-white">ACKNOWLEDGEMENT</h3>
            <p class="wt-color-white">Diabetes@Home acknowledges the traditional custodians of
                our lands and pays respect to their Elders, past and present.
                <br />
                We strive to reduce the impact of diabetes on
                Aboriginal and Torres Strait Islander people living in Victoria.
            </p>
            <img src="./assets/img/a1f0o00000H3NktAAF.png" alt="" width="80px">
            <img src="./assets/img/a1f0o00000H3NkyAAF.png" alt="" width="80px">
        </div>
        <div class="wt-grid-item size-12@p size-6@t">
            <p class="wt-color-white"> © Diabetes@Home 2022. All Rights Reserved </p>
        </div>
        <div class="wt-grid-item size-12@p size-6@t wt-text-align-right">
            <span class="wt-padding-small"><a href="https://instagram.com" target="_blank"><img
                        src="./assets/img/insta-icon.png" alt="" width="30px"></a></span>
            <span class="wt-padding-small"><a href="https://facebook.com" target="_blank"><img
                        src="./assets/img/facebook-icon.png" alt="" width="30px"></a></span>
        </div>
    </div>
</section>