{{> patient_sidebar}}
{{> header}}
<div class="panel-content">
    <div class="wt-grid-container">
        <div class="wt-grid-item size-12@p size-9@t">
            <p>leaderboard</p>
        </div>
    </div>
</div>