/* WT CSS (Web Technologies Unimelb)
   v1.0
*/
:root {
    --primary-color: #13678A;
    --primary-color-text: #fff;
    --secondary-color: #deee00;
    --secondary-color-text: #000;
    --surface: #fff;
    --surface-color-text: #000;
    /* --mdc-theme-background: #fff; */
}

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
}

/* Grid system */

/* * {
    box-sizing: border-box;
} */

.wt-grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .wt-grid-container>* {
    padding-left: 30px;
} */

[class*="size-"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 15px;
}

/* .wt-grid-container::after {
    content: "";
    clear: both;
    display: table;
  } */

/* [class*="size-"] {
    float: left;
    padding: 8px;
} */

.size-1\@p {
    width: 8.33%;
}

.size-2\@p {
    width: 16.66%;
}

.size-3\@p {
    width: 25%;
}

.size-4\@p {
    width: 33.33%;
}

.size-5\@p {
    width: 41.66%;
}

.size-6\@p {
    width: 50%;
}

.size-7\@p {
    width: 58.33%;
}

.size-8\@p {
    width: 66.66%;
}

.size-9\@p {
    width: 75%;
}

.size-10\@p {
    width: 83.33%;
}

.size-11\@p {
    width: 91.66%;
}

.size-12\@p {
    width: 100%;
}

.wt-hidden\@p {
    display: none !important;
}

.wt-visible\@p {
    display: block !important;
}

.wt-visible-flex\@p {
    display: flex !important;
}

@media (min-width: 1024px) {
    .wt-hidden\@t {
        display: none !important;
    }

    .wt-visible\@t {
        display: block !important;
    }

    .wt-visible-flex\@t {
        display: flex !important;
    }

    .size-1\@t {
        width: 8.33%;
    }

    .size-2\@t {
        width: 16.66%;
    }

    .size-3\@t {
        width: 25%;
    }

    .size-4\@t {
        width: 33.33%;
    }

    .size-5\@t {
        width: 41.66%;
    }

    .size-6\@t {
        width: 50%;
    }

    .size-7\@t {
        width: 58.33%;
    }

    .size-8\@t {
        width: 66.66%;
    }

    .size-9\@t {
        width: 75%;
    }

    .size-10\@t {
        width: 83.33%;
    }

    .size-11\@t {
        width: 91.66%;
    }

    .size-12\@t {
        width: 100%;
    }
}

@media (min-width: 1920px) {

    .wt-hidden\@d {
        display: none !important;
    }

    .wt-visible\@d {
        display: block !important;
    }

    .wt-visible-flex\@d {
        display: flex !important;
    }

    .size-1\@d {
        width: 8.33%;
    }

    .size-2\@d {
        width: 16.66%;
    }

    .size-3\@d {
        width: 25%;
    }

    .size-4\@d {
        width: 33.33%;
    }

    .size-5\@d {
        width: 41.66%;
    }

    .size-6\@d {
        width: 50%;
    }

    .size-7\@d {
        width: 58.33%;
    }

    .size-8\@d {
        width: 66.66%;
    }

    .size-9\@d {
        width: 75%;
    }

    .size-10\@d {
        width: 83.33%;
    }

    .size-11\@d {
        width: 91.66%;
    }

    .size-12\@d {
        width: 100%;
    }
}

/* Text */
.wt-text-jumbo {
    font-size: 60px;
    margin-bottom: 30px;
}

.wt-text-align-center {
    text-align: center;
}

.wt-text-divider {
    background-color: var(--primary-color);
    height: 4px;
    border: none;
}

/* Components */
.wt-header {
    display: flex;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.wt-header-icon {
    flex-grow: 1;
    align-content: center;
}

.wt-header-menu {
    display: flex;
    align-items: center;
}

.wt-header-menu>span {
    padding: 0px 20px;
    cursor: pointer;
}

.wt-btn {
    user-select: none;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    min-height: 31px;
    min-width: 70px;
    padding: 2px 16px;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 25px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

.wt-btn-large {
    line-height: 42px !important;
    font-size: 16px !important;
}

.wt-btn:active {
    box-shadow: rgba(60, 64, 67, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.wt-btn-outlined {
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
}

.wt-btn-primary {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

.wt-btn-secondary {
    background: var(--secondary-color);
    color: var(--secondary-color-text);
}

.wt-btn-icon {
    font-size: 24px;
    line-height: 34px !important;
    height: 34px !important;
    color: var(--surface-color-text);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 34px !important;
    text-align: center;
    -webkit-appearance: none;
    background: none;
    user-select: none;
    /* 
    -webkit-transition: background 280ms ease-out, color 280ms ease-out;
    transition: background 280ms ease-out, color 280ms ease-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0px; */
}

.wt-btn-icon:active {
    background-color: #f5f5f5;
}

.wt-card {
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background-color: var(--surface);
}

.wt-profile-card {
    position: relative;
    padding-top: 100px;
    margin-top: 100px;
}

.wt-profile-card-image {
    position: absolute;
    top: -95px;
    left: 50%;
    margin-left: -85px;
}

.wt-card-content {
    padding: 8px;
}

input, select {
    padding: 8px;
    border: none;
    background-color: #f5f5f5;
    width: 100%;

}

input:hover {
    background-color: #ebebeb;

}

.input-full-width {
    width: 100%;
}

/* Modal */

.wt-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.wt-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
    width: 80%;

    border-radius: 15px;
    /* Could be more or less, depending on screen size */
}


.wt-modal-close {
    position: relative;
    top: -10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.wt-close:hover,
.wt-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Utils */
.wt-banner {
    position: relative;
}

.wt-banner-content {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 520px;
}

.wt-banner-content-phone {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 160px;
}

@media (min-width: 960px) {
    .wt-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.wt-footer {
    /* padding-top: 30px;
    padding-bottom: 30px; */
    background-image: url("../img/footer-background-01.jpeg");
}

.wt-section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.wt-border-circle {
    border-radius: 50%;
}

.wt-border-rounded {
    border-radius: 25%;
}

.wt-background-alt {
    background-color: #F5F5F8;
}

.wt-shadow {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.09);
}

/* Colors */
.wt-color-white {
    color: white;
}

.wt-color-grey {
    color: #848484;
}